<!DOCTYPE html>
<html lang="en">
    {{> linkAdmin}}
    {{> headerAdmin}}
  <body>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-md-12 tm-block-col" style="max-height: auto;">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div id="listingTable" class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">USERNAME</th>
                                    <th scope="col">REGISTER DATE</th>
                                    <th scope="col">TOTAL PURCHASES</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><input type="checkbox" /></th>
                                    <td class="tm-product-name" onclick="location.href='./user-detail';" style="cursor: pointer;">Lorem</td> <!--TODO add name-->
                                    <td>1/1/2022</td> <!--TODO add date-->
                                    <td>550</td> <!--TODO add total-->
                                    <td>Active</td> <!--TODO add status-->
                                    <td>
                                        <a href="#" class="tm-product-delete-link">
                                            <!--TODO add id-->
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!--TODO add {{#items}}-->
                                <tr>
                                    <th scope="row"><input type="checkbox" /></th>
                                    <td class="tm-product-name" onclick="location.href='/user-detail';" style="cursor: pointer;">Lorem</td> <!--TODO add name-->
                                    <td>1/1/2022</td> <!--TODO add date-->
                                    <td>550</td> <!--TODO add total-->
                                    <td>Active</td> <!--TODO add status-->
                                    <td>
                                        <a href="#" class="tm-product-delete-link">
                                            <!--TODO add id-->
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!--TODO add {{/items}}-->
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <!--TODO {{#if (hasPagination pageCount)}}-->
                    <div class=""> <!--TODO pagination-->
                        <!--TODO{{#with (previous page req.path req.query)}}-->
                        <a href="#">&laquo;</a>
                        <!--TODO{{/with}}-->

                        <a class="active" href="#">1</a> <!--TODO href = {{path}}, class={{class}}-->
                        <a href="#">2</a> <!--TODO href = {{path}}, class={{class}}-->
                        <a href="#">3</a> <!--TODO href = {{path}}, class={{class}}-->

                        <!--TODO{{#with (next page pageCount req.path req.query)}}-->
                        <a href="#">&raquo;</a>
                        <!--TODO{{/with}}-->
                    </div>
                    <!--TODO {{/if}}-->
                    <button class="btn btn-primary btn-block text-uppercase">
                        Delete selected accounts
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
  {{> footerAdmin}}
</html>