<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="/img/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>TechHub</title>
  {{> link}}

</head>

<body class="sub_page">

  {{> header}}

  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Products
        </h2>
      </div>
      <div class="filtering" style="margin-top: 50px;">
        <input type="text" placeholder="Search Your Item Here" id="quick-search"> 
        <div class="button-space">
          <button class="btn btn-primary text-uppercase filter-choice a-z active">A-Z</button>
          <button class="btn btn-primary text-uppercase filter-choice p-asc">Price Ascending</button>
          <button class="btn btn-primary text-uppercase filter-choice p-desc">Price Descending</button>
        </div>
      </div>
      <div class="row productList">
        {{#prods}}
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src={{prod_img}} alt="" name={{product_name}}>
              <a href="detail/{{id}}" class="add_cart_btn">
                <span>
                  Add To Cart
                </span>
              </a>
              <a href="detail/{{id}}" class="detail_btn">
                <span>
                  Detail
                </span>
              </a>
            </div>
            <div class="detail-box">
              <h5 name={{prod_name}} class="product-name">
                {{product_name}}
              </h5>
              <div class="product_info">
                <h5 name={{prod_price}} class="price">
                  <span>$</span> {{price}}
                </h5>
                <div class="star_container">

                </div>
              </div>
            </div>
          </div>
        </div>
        {{/prods}}
      </div>
      <nav aria-label="Page navigation example">
        
        <ul class="pagination justify-content-center">
          <li>
            <a class="page-link" id = "prev" >Previous</a>
          </li>
          {{#each pages}}
            {{#if @first}} <li class="page-item"><a class="page-link pageNumber currPage" value={{.}}>{{.}}</a></li> 
            {{else}}
             <li class="page-item"><a class="page-link pageNumber" value={{.}}>{{.}}</a></li>
             {{/if}}
          {{/each}}
          <li>
            <a class="page-link" id = "next" >Next</a>
          </li>
        </ul>
       
      </nav>
    </div>
  </section>

  <!-- end product section -->

  {{> footer}}
  {{> script}}
  {{>forFilter}}
  <script>
    $('.star_container').append(`{{{prod_rating}}}`);
    $(function () {
      $('.page-link').on('click', function () {
        $('.page-link').removeClass('currPage')
        $(this).addClass('currPage');
        var page = parseInt($('.currPage').attr('value'));
        if($(this).attr('id') === 'prev'){
          console.log("prev")
          page--;
        }
        if($(this).attr('id') === 'next'){
          console.log("next")
          page++;
        }
        console.log(page)
        $.getJSON('/product/page/' + page, function (data) {
          console.log(data)
          $('.productList').empty()
           var i;
          for (i = 0; i < data.length; ++i) {
          var htmlString = '<div class="col-sm-6 col-lg-4">' + 
            '<div class="box">' + '<div class="img-box">' + '<img src=' + data[i].prod_img  + ' alt="" name={{product_name}}>'
            + '<a href="detail/'+ data[i].id + '" class="add_cart_btn" > <span> Add To Cart </span> </a>' 
            + '<a href="detail/'+ data[i].id + '" class="detail_btn" > <span> Detail </span> </a> </div>'
            + '<div class="detail-box">' + '<h5 name={{prod_name}}>' + data[i].product_name + '</h5>'
            + '<div class="product_info">' + '<h5 name={{prod_price}}>' + '<span>$</span>' + data[i].price + '</h5>'
            + '</div> </div> </div> </div>'
          $('.productList').append(htmlString);
          }
        })
      })
    })
  </script>
</body>

</html>